* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-dark {
    height: 100vh;
    width: 100%;
    padding: 25px;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(#009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
    overflow: hidden;
    
}

h3 {
    font-size: 16px;
    margin-left: 10px;
}

.container {
    height: 100%;
    min-width: 950px;
    max-width: 80%;
    margin: auto;
    display: flex;
    box-shadow: 0px 0px 5px 1px #5959593f;
}

img {
    height: 60px;
    border-radius: 50%;
}   

.left {
    width: 35%;
    border-right: 1px solid rgb(210, 210, 210);
}

.header-left,
.header-right {
    height: 70px;
    padding: 10px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
}

.header-left .left-user,
.header-right .right-user {
    display: flex;
    align-items: center;
}

.header-left .left-icons i,
.header-right .right-icons i {
    margin-left: 17px;
    font-size: 20px;
    color: #919191;
    cursor: pointer;
}

.header-left .left-icons i:hover,
.header-right .right-icons i:hover {
    color: rgb(99, 99, 99);
}

.header-left .left-user .main-user-info {
    line-height: 22px;
    margin-left: 5px;
}

.header-left .left-user small {
    font-size: 13px;
    margin-left: 10px;
}
.header-left .left-user small i {
    color: green;
    margin-right: 3px;
}

.left-notify {
    height: 80px;
    padding: 13px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.left-notify .notify-logo {
    height: 42px;
    width: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    color: #8edafc;
    margin: 0 15px;
}

.left-notify .notify-text {
    line-height: 20px;
}

.left-notify .notify-text span {
    font-size: 13px;
    color: grey;
    margin-left: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.left-notify .notify-text span:hover {
    color: rgb(66, 46, 46);
}

.left-search {
    height: 50px;
    background-color: #eaeaea;
    padding: 8px;
}

.left-search input {
    width: 100%; 
    height: 35px;
    padding-left: 40px;
    border: none;
    outline: none;
    background: #f6f6f6 url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-512.png') 2% 55% no-repeat;
    background-size: 20px;
    border-radius: 5px;
}

.left-contacts {
    height: calc(100% - 70px - 80px - 50px);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #009688 transparent;
    background-color: white;
}

.left-contacts .info-contact {
    padding: 10px;
    display: flex;
    border-bottom: 1px solid #eaeaea;
    position: relative;
}

.left-contacts .info-contact h3 {
    margin-left: 20px;
}

.left-contacts .info-contact .text-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-contacts .info-contact .text-contact > span {
    margin-left: 20px;
    margin-top: 7px;
    font-size: 13px;
    color: grey;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.left-contacts .info-contact .text-contact span.hour {
    position: absolute;
    top: 20%;
    right: 4%;
}

.left-contacts .info-contact:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.right {
    width: 65%;
}

.right-user .right-user-info {
    line-height: 22px;
    margin-left: 10px;
}

.right-user .right-user-info .last-join {
    font-size: 13px;
    color: grey;
    margin-left: 10px;
}

.right-box-message {
    height: calc(100% - 70px - 70px);
    overflow: hidden;
}

.right-box-message .right-messages  {
    height: 100%;
    padding: 5% 10%;
    background-image: url('../img/mine.jpg');
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #009688 transparent;
}

.right-input-message {
    padding: 10px 35px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
}

.right-input-message i {
    font-size: 28px;
    color: #919191;
    cursor: pointer;
}

.right-box-message .right-messages .message {
    margin: 8px;
    padding: 23px 25px 15px 9px;
    max-width: 55%;
    min-width: 40%;
    border-radius: 10px;
    font-size: 15px;
    position: relative;
    word-break: break-word;
}

.right-box-message .right-messages .message .user-sent{
    color: #35cd96;
}

.right-box-message .right-messages .message h5{
    position: absolute;
    left: 3%;
    top: 5%;
    color: red;
}

.right-box-message .right-messages .message small {
    position: absolute;
    bottom: 6%;
    right: 3%;
    color: grey;
    font-size: 10px;
}

.right-box-message .right-messages .message i{
    position: absolute;
    top: 11%;
    right: 3%;
    color: rgb(163, 163, 163);
    cursor: pointer;
}

.right-box-message .right-messages .message.sent {
    background-color: #D5F9BA;
    float: right;
    clear: both;
}

.right-box-message .right-messages .message.received {
    background-color: white;
    float: left;
    clear: both;
}

.right-input-message input {
    outline: none;
    border:none;
    padding: 20px;
    height: 50px;
    width: calc(100% - 60px - 50px);
}

#app button {
    position: absolute;
    top: 10%;
    right: 5%;
}

.active {
    background-color: #eaeaea;
    border-left: 3px solid #009688;
}

/* darkmode */
.darkmode {
    background-color: #131c21;
    color: white;
}

.body-dark.darkmode {
    background-image: linear-gradient(#056162 15vh, #000000 15vh, #000000 100%);
}

.left.darkmode {
    border-right: 1px solid #30383d;
}

.left-notify.darkmode {
    background-color: #085373;
}
.left-notify.darkmode .notify-logo i {
    color: #085373;
}

.left-search.darkmode input {
    color: white;
    background: #323739 url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-512.png') 2% 55% no-repeat;
    background-size: 20px;
}

.left-contacts.darkmode {
    scrollbar-color: #056162 transparent;
}

.left-contacts.darkmode .info-contact{
    border-bottom: 1px solid #30383d;
}

.left-contacts.darkmode .info-contact.active {
    background-color: #323739;
}

.left-contacts.darkmode .info-contact:hover {
    background-color: #323739;
}

.right-box-message.darkmode .right-messages  {
    background-image: url('../img/mine_2.png');
    scrollbar-color: #056162 transparent;   
}

.right-box-message.darkmode .right-messages .message.sent {
    background-color: #056162;
}

.right-box-message.darkmode .right-messages .message.received {
    background-color: #262d31;
}

.right-input-message.darkmode input {
    background-color: #323739;
    color: white;
    outline: none;
    border: none;
}