* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    /* bg da cambiare */
    background-color: pink;
}

h3 {
    font-size: 17px;
}

.container {
    max-width: 1270px;
    margin: auto;
    display: flex;
}

img {
    height: 55px;
    border-radius: 50%;
}   

.left {
    width: 35%;
    background-color: lightsalmon;
}

.header-left,
.header-right {
    height: 70px;
    padding: 8px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
}

.left-user,
.right-user {
    display: flex;
    align-items: center;
}

.left-user h3,
.right-user h3 {
    margin-left: 10px;
}

.left-icons i,
.right-icons i {
    margin-left: 15px;
    font-size: 20px;
    color: #b1b1b1;
}

.right {
    width: 65%;
    background-color: lightgreen;
}

.right-user .right-user-info .last-join {
    font-size: 13px;
    color: grey;
    margin-left: 10px;
}