<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>dayjs().format()</script>
</head>
<body>

    <div id="app" class="container">

        <div class="left">

            <div class="header-left">
                
                <div class="left-user" v-for="item in user">
                    <img :src="item.avatar" alt="Avatar">
                    <div>
                        <h3>{{item.name}}</h3>
                        <small>
                            <i class="fas fa-circle"></i>
                            Online
                        </small>
                    </div>
                </div>

                <div class="left-icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>

            </div>

            <div class="left-notify">

                <div class="notify-logo">
                    <i class="fas fa-bell-slash"></i>
                </div>

                <div class="notify-text">
                    <h3>Ricevi notifiche di nuovi messaggi</h3>
                    <span>Attiva notifiche desktop</span>
                </div>

            </div>

            <div class="left-search">
                <input type="text" placeholder="Cerca o inizia una nuova chat">
            </div>

            <div class="left-contacts">

                <div @click="visibleChat(index)" class="info-contact" :class="contact.class" v-for="(contact,index) in contacts">
                    <img :src="contact.avatar" alt="Avatar">
                    
                    <div class="text-contact">
                        <h3>{{contact.name}}</h3>
                        <span v-for="(message,index) in contact.messages" v-if="index == contact.messages.length - 1">
                            {{message.text}}
                            <span class="hour">
                                {{message.hour}}
                            </span>
                        </span>
                    </div>
                </div>

                <!-- <div class="info-contact">
                    <img src="img/avatar_4.jpg" alt="Avatar">
                    
                    <div class="text-contact">
                        <h3>Fabio</h3>
                        <span>Giusto qualcosa come testo</span>
                    </div>
                </div>

                <div class="info-contact">
                    <img src="img/avatar_5.jpg" alt="Avatar">
                    
                    <div class="text-contact">
                        <h3>Samuele</h3>
                        <span>Giusto qualcosa come testo</span>
                    </div>
                </div>

                <div class="info-contact">
                    <img src="img/avatar_6.jpg" alt="Avatar">
                    
                    <div class="text-contact">
                        <h3>Luisa</h3>
                        <span>Giusto qualcosa come testo</span>
                    </div>
                </div>

                <div class="info-contact">
                    <img src="img/avatar_7.jpg" alt="Avatar">
                    
                    <div class="text-contact">
                        <h3>Marco</h3>
                        <span>Giusto qualcosa come testo, più testo del normale in anteprima senza andare a capo</span>
                    </div>
                </div>

                <div class="info-contact">
                    <img src="img/avatar_8.jpg" alt="Avatar">
                    
                    <div class="text-contact">
                        <h3>Giacomo</h3>
                        <span>Giusto qualcosa come testo</span>
                    </div>
                </div>

                <div class="info-contact">
                    <img src="img/avatar_1.jpg" alt="Avatar">
                    
                    <div class="text-contact">
                        <h3>Mario</h3>
                        <span>Giusto qualcosa come testo</span>
                    </div>
                </div> -->

            </div>

        </div>

        <div class="right">

            <div class="header-right" v-for="contact in contacts" v-if="contact.visible === true">

                <div class="right-user">
                    <img :src="contact.avatar" alt="Avatar">
                    <div class="right-user-info">
                        <h3>{{contact.name}}</h3>
                        <span class="last-join">Ultimo accesso oggi alle...</span>
                    </div>
                </div>

                <div class="right-icons">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>

            </div>

            <div class="right-box-message">

                <div class="right-messages" v-for="contact in contacts" v-if="contact.visible === true">

                    <div v-for="message in contact.messages" :class="message.status" class="message">
                        {{message.text}}
                        <small>{{message.hour}}</small>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    
                </div>

            </div>

            <div class="right-input-message">

                <i class="far fa-smile"></i>
                <input @keyup.enter="sendNewMessage" type="text" placeholder="Scrivi un messaggio" v-model="newMessage">
                <i class="fas fa-microphone"></i>

            </div>
        </div>

    </div>
    
    <script src="js/script.js"></script>
</body>
</html>